.main-title-container {
    background-color: #2a2828;
    color: white;
    margin-top: 10px;
    padding: 0px 20px;
}
.main-part-container {
    background-color: #ff2121;
    color: white;
    padding: 0px 20px;
}
.part-container {
    background-color: #ff5555;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
}
.question-container {
    color: black;
    margin-top: 5px;
    padding: 0px 10px;
}
.main-title {
    font-size: 32px;
    display: inline;
}
.part-label {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline;
    height: 50px;
}
.main-button {
    float: right;
    margin: 5px 0px;
    height: 35px;
    background-color: #50d164;
    border: 0px;
    color: white;
}
.question-button {
    margin: 0px 0px;
    height: 35px;
    border: 0px;
    color: #775fff;
    background: none;
}
.content-container {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
.question-add{
    color: #775fff;
    border-bottom: 1px solid #775fff;
}
.question-add:hover{
    color: white;
    transition: color 0.5s;
}
.question-content_numbering{
    display: inline;
}
.question-content{
    display: inline;
    padding-left: 10px;
}
.option-container{
    margin-top: 5px;
    margin-left: 40px;
}
.add_question-button {
    height: 35px;
    background-color: #50d164;
    border: 0px;
    font-size: 11px;
    color: white;
    margin: 0px;
}
.question-content-container{

}
.option{
    padding: 5px;
}
.part-div{
    display: inline;
}
.part-toggle-container {
    margin-left: 25px;
    border: 1px solid white;
    padding: 0px 10px;
    cursor: pointer;
}
.part-button-container {
    background-color: #50d164;
    padding: 0px 10px;
    cursor: pointer;
}

.part-button-container a {
    color: white;
}
.part-button-container a:hover {
    color: black;
    text-decoration:none;
}
.part-button-container span:hover {
    color: black;
    text-decoration:none;
}
.part-questions{

}

.content_container {
    padding: 0px 20px;
}

.title_bar-container {
    background-color: #222222;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.title_button {
    display: inline;
    float: right;
    position: relative;
    top: 7px;
    cursor: pointer;
}

.title_button span {
    background-color: #5cb85c;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.title_bar {
    display: inline;
}
.done span{
    background-color: #007bff;
    margin-left: 10px;
}
.cancel span{
    background-color: #dc3545;
    margin-left: 10px;
}