.mdl-stepper-demo .mdl-stepper {
      margin: auto;
    }


    .extrawide{
    width:100%;
}

.mdl-grid.center-items {
  justify-content: center;
}

.mdl-step--completed .mdl-step__label-indicator {
    background-color: #d50000 !important;
}

.mdl-step.is-active .mdl-step__label-indicator {
    background-color: #d50000 !important;
    color: white;
}

.mdl-step__title {
    display: block !important;
}

.mdl-stepper--horizontal {
    max-width: 1080px !important; 
}
/*@media only screen and (max-width: 480px) {

  table, thead, tbody, th, td, tr {
      display: block;
  }

  thead {
    display: none;
  }

  // mdl specifics

  .mdl-data-table tbody tr {
    height: auto;
  }
  
  .mdl-data-table tbody tr:nth-child(even) {
    background-color: #eee;
  }

  .mdl-data-table td,
  .mdl-data-table td:first-of-type {
    padding-left: 50%;
  }

  .mdl-data-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding: 6px 18px 0;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    color: rgba(0, 0, 0, 0.541176);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
  }
  
  .mdl-data-table td:last-of-type {
    padding-right: 18px;
  }
  
}*/